# Data Loading
Questions:
* Programmatically download and load into your favorite analytical tool the transactions data. This data, which is in line-delimited JSON format, can be found here (<https://github.com/CapitalOneRecruiting/DS>)

* Please describe the structure of the data. Number of records and fields in each record?

* Please provide some additional basic summary statistics for each field. Be sure to include a count of null, minimum, maximum, and unique values where appropriate.

The following sections summarize my findings for each question above. Each subsection begins with a summary of results and is following by supporting details and the Python scripts used to generate those results.

# Imports

In [5]:
# Data Wrangling
import pandas as pd
import numpy as np

#Utils
import os
from IPython.display import display

# File Structure

In [6]:
os.chdir('..')
os.listdir()

['.ipynb_checkpoints', 'Submission', 'transactions.txt', 'transactions.zip']

# Load and Clean
* The following cells define functions for data loading and cleaning.
* The data cleaning function is updated throughout this analysis to incorporate any observations from working the data.
* Final data loading and cleaning script is maintained in the data_load_clean.py for use in other steps in data science challenge.

In [7]:
# Data Loader Function
def get_transaction_data():
    return pd.read_json('transactions.txt', lines=True)
    
# Get data and show the first few rows
df_raw = get_transaction_data()

display(df_raw.head())

,accountNumber,customerId,creditLimit,availableMoney,transactionDateTime,transactionAmount,merchantName,acqCountry,merchantCountryCode,posEntryMode,...,echoBuffer,currentBalance,merchantCity,merchantState,merchantZip,cardPresent,posOnPremises,recurringAuthInd,expirationDateKeyInMatch,isFraud
0,737265056,737265056,5000,5000.0,2016-08-13T14:27:32,98.55,Uber,US,US,02,...,,0.0,,,,False,,,False,False
1,737265056,737265056,5000,5000.0,2016-10-11T05:05:54,74.51,AMC #191138,US,US,09,...,,0.0,,,,True,,,False,False
2,737265056,737265056,5000,5000.0,2016-11-08T09:18:39,7.47,Play Store,US,US,09,...,,0.0,,,,False,,,False,False
3,737265056,737265056,5000,5000.0,2016-12-10T02:14:50,7.47,Play Store,US,US,09,...,,0.0,,,,False,,,False,False
4,830329091,830329091,5000,5000.0,2016-03-24T21:04:46,71.18,Tim Hortons #947751,US,US,02,...,,0.0,,,,True,,,False,False

In [8]:
# Data cleaning function
def clean_transation_data(df):
    """
    Cleans the raw transaction data based 
    on observations from descriptive statistics and visualization
    
    Parameters:
    ___________
    df: pandas dataframe
        The raw transaction data
    
    Returns:
    ________
    df: pandas dataframe
        The dataframe after cleaning steps applied
    
    """
    
    # Developing descriptive statistics of the data inidicates that empty strings are used to denote missing data
    # Convert empty strings to null values
    df.replace('', np.nan, inplace=True)
    
    # Review of datatypes showed that multiple date time colums are stored as a string
    # Convert the string to pandas datetime
    datetime_like_cols = ['transactionDateTime','currentExpDate', 'accountOpenDate', 'dateOfLastAddressChange']
    for dtc in datetime_like_cols:
        df[dtc] = pd.to_datetime(df[dtc])
    
    # Review showed that accountNumber and customerId are stored at integers. 
    # In addition CVV colums and the card last four are integers and should strings.
    # Convert to string
    str_like_cols = ['accountNumber','customerId', 'cardCVV','enteredCVV','cardLast4Digits']
    for sc in str_like_cols:
        df[sc] = df[sc].astype(str)
    
    return df

# Apply cleaning function to raw transcation data. 
# Note: Data loading is slow on my personal computer, but the size of the data is not overly taxing memory. Because of this, I opt to hold two copies of the data in memory, one raw and one cleaned.
df = clean_transation_data(df_raw.copy())

display(df.head())

,accountNumber,customerId,creditLimit,availableMoney,transactionDateTime,transactionAmount,merchantName,acqCountry,merchantCountryCode,posEntryMode,...,echoBuffer,currentBalance,merchantCity,merchantState,merchantZip,cardPresent,posOnPremises,recurringAuthInd,expirationDateKeyInMatch,isFraud
0,737265056,737265056,5000,5000.0,2016-08-13 14:27:32,98.55,Uber,US,US,02,...,NaN,0.0,NaN,NaN,NaN,False,NaN,NaN,False,False
1,737265056,737265056,5000,5000.0,2016-10-11 05:05:54,74.51,AMC #191138,US,US,09,...,NaN,0.0,NaN,NaN,NaN,True,NaN,NaN,False,False
2,737265056,737265056,5000,5000.0,2016-11-08 09:18:39,7.47,Play Store,US,US,09,...,NaN,0.0,NaN,NaN,NaN,False,NaN,NaN,False,False
3,737265056,737265056,5000,5000.0,2016-12-10 02:14:50,7.47,Play Store,US,US,09,...,NaN,0.0,NaN,NaN,NaN,False,NaN,NaN,False,False
4,830329091,830329091,5000,5000.0,2016-03-24 21:04:46,71.18,Tim Hortons #947751,US,US,02,...,NaN,0.0,NaN,NaN,NaN,True,NaN,NaN,False,False

# Data Structure
Observations and notes:
* The data are relatively long, number of records (786363) >> number of columns (29).

In [10]:
"""
Please describe the structure of the data. 
Number of records and fields in each record?
"""
# Shape of Data
print('# Records: {}, # Fields: {}'.format(df.shape[0],df.shape[1]))

# Field Names
print('Field names:', list(df.columns))

# Records: 786363, # Fields: 29
Field names: ['accountNumber', 'customerId', 'creditLimit', 'availableMoney', 'transactionDateTime', 'transactionAmount', 'merchantName', 'acqCountry', 'merchantCountryCode', 'posEntryMode', 'posConditionCode', 'merchantCategoryCode', 'currentExpDate', 'accountOpenDate', 'dateOfLastAddressChange', 'cardCVV', 'enteredCVV', 'cardLast4Digits', 'transactionType', 'echoBuffer', 'currentBalance', 'merchantCity', 'merchantState', 'merchantZip', 'cardPresent', 'posOnPremises', 'recurringAuthInd', 'expirationDateKeyInMatch', 'isFraud']

# Descriptive Statistics
Findings and observations:
* The data records transactions for 5000 unique customers (as denoted by customerId) from 01 JAN 2016 to 30 DEC 2016.
    * Each customer is matched with exactly one account number

* Missing values are concentrated on 6 fields, noted below. These have been dropped.

* Fields names are fairly descriptive. Primary buckets and notes on individual fields:
    * Unique Identifiers: 
        * 'accountNumber' - stored as int & converted to str, 
        * 'customerId' - stored as int & converted to str
    * Account Descriptors: 
        * 'creditLimit' - appears categoral with 10 unique values, 
        * 'availableMoney'
    * Transaction Event Features: 
        * 'transactionDateTime' - stored as str & converted to datetime,
        * 'merchantName',
        * 'acqCountry', 
        * 'merchantCountryCode', 
        * 'posEntryMode', 
        * 'posConditionCode',
        * 'merchantCategoryCode', 
        * 'currentExpDate' - stored as str & converted to datetime, 
        * 'accountOpenDate' - stored as str & converted to datetime,
        * 'dateOfLastAddressChange' - stored as str & converted to datetime, 
        * 'cardCVV' - stored as int & converted to str, 
        * 'enteredCVV' - stored as int & converted to str, 
        * 'cardLast4Digits' - stored as int & converted to str,
        * 'transactionType', 
        * 'echoBuffer' - all data is null,
        * 'currentBalance', 
        * 'merchantCity' - all data is null,
        * 'merchantState' - all data is null, 
        * 'merchantZip' - all data is null, 
        * 'cardPresent', 
        * 'posOnPremises' - all data is null,
        * 'recurringAuthInd' - all data is null, 
        * 'expirationDateKeyInMatch'
    * Fraud:
        * 'isFraud'

* Desired follow-up questions with subject matter experts:
    * Why are six fields missing all data, what can be done to collect that data?
    * Definitions for 'echoBuffer' and 'recurringAuthInd'?
    * Data dictionary for the various codes, e.g. 'posEntryMode'?

In [13]:
"""
Please provide some additional basic summary statistics for each field. 
Be sure to include a count of null, minimum, maximum, and unique values where appropriate
"""

def summarize_numeric_columns(df):
    """
    Generates summary statistics for numeric data.
    Numeric data are summarized with min, max, median, average, standard deviation, and missingness
    Assessment of unique/distinct values included to identify potential categorical features
    
    Parameters:
    ___________
    df : pandas dataframe
        The cleaned transaction dataframe
        
    Returns:
    ________
    num_summary: pandas dataframe
        Dataframe with summary statistics for each field
    """
    # Get numeric columns
    num_cols = df.select_dtypes(include = [np.number,bool]).columns #treating bool as [0,1]

    # Minimum
    num_summary = df[num_cols].min().to_frame()
    num_summary.columns = ['min']

    # Maximum
    num_summary = num_summary.join(
        df[num_cols].max().to_frame()
    )
    num_summary.rename(columns={0:'max'}, inplace=True)

    # Median
    num_summary = num_summary.join(
        df[num_cols].median().to_frame()
    )
    num_summary.rename(columns={0:'median'}, inplace=True)

    # Mean
    num_summary = num_summary.join(
        df[num_cols].mean().to_frame()
    )
    num_summary.rename(columns={0:'mean'}, inplace=True)

    # Mean
    num_summary = num_summary.join(
        df[num_cols].std().to_frame()
    )
    num_summary.rename(columns={0:'std'}, inplace=True)
    
    #Unique values to assess for categorical features
    num_summary = num_summary.join(
        df[num_cols].nunique().to_frame()
    )
    num_summary.rename(columns={0:'n_unique'}, inplace=True)
    
    # Unique values, showing values for when number of distinct values <=10
    # Cut-off based on the jump in distinct values from creditLimit (10) to cardCVV (899)
    unique_vals = pd.DataFrame(index=num_cols, columns=['unique values'])
    for nc in num_cols:
        if df[nc].nunique()<=10:
            unique_vals.loc[nc,'unique values'] = df[df[nc].notnull()][nc].unique()
        else:
            unique_vals.loc[nc,'unique values'] = 'many'

    num_summary = num_summary.join(unique_vals)

    # Missingness
    num_summary = num_summary.join(
        df.shape[0] - df[num_cols].count().to_frame()
    )
    num_summary.rename(columns={0:'count null'}, inplace=True)

    num_summary = num_summary.join(
        1 - df[num_cols].count().to_frame()/df.shape[0]
    )
    num_summary.rename(columns={0:'fraction null'}, inplace=True)
    
    return num_summary

def summarize_text_columns(df):
    """
    Generates summary statistics for text data (objects).
    Text data are summarized with a count and list of unique values as well as evaluation of missingness.
    
    Parameters:
    ___________
    df : pandas dataframe
        The cleaned transaction dataframe
        
    Returns:
    ________
    text_summary: pandas dataframe
        Dataframe with summary statistics for each text field
    """

    # Get text columns
    text_cols = df.select_dtypes(include = [object]).columns

    # Number of unique values
    text_summary = df[text_cols].nunique().to_frame()
    text_summary.columns = ['n_unique']

    # Missingness
    text_summary = text_summary.join(
        df.shape[0] - df[text_cols].count().to_frame()
    )
    text_summary.rename(columns={0:'count null'}, inplace=True)

    text_summary = text_summary.join(
        1 - df[text_cols].count().to_frame()/df.shape[0]
    )
    text_summary.rename(columns={0:'fraction null'}, inplace=True)

    # Unique values, showing values for when number of distinct values <20
    # Cut-off based on the jump in distinct values from merchantCategoryCode (10) to transactionAmount (66k)
    unique_vals = pd.DataFrame(index=text_cols, columns=['unique values'])
    for tc in text_cols:
        if df[tc].nunique()<20:
            unique_vals.loc[tc,'unique values'] = df[df[tc].notnull()][tc].unique()
        else:
            unique_vals.loc[tc,'unique values'] = 'many'

    text_summary = text_summary.join(unique_vals)
    
    return text_summary

def summarize_datetime_columns(df):
    """
    Generates summary statistics for datetime data.
    Datetime data are summarized with the minimum and maximum dates, unique dates, and missingness.
    
    Parameters:
    ___________
    df : pandas dataframe
        The cleaned transaction dataframe
        
    Returns:
    ________
    dt_summary: pandas dataframe
        Dataframe with summary statistics for each datetime field
    """
    # Get datetime columns
    dt_cols = df.select_dtypes(include = [np.datetime64]).columns

    # Minimum
    dt_summary = df[dt_cols].min().to_frame()
    dt_summary.columns = ['min']

    # Maximum
    dt_summary = dt_summary.join(
        df[dt_cols].max().to_frame()
    )
    dt_summary.rename(columns={0:'max'}, inplace=True)

    #Unique values to assess for categorical features
    dt_summary = dt_summary.join(
        df[dt_cols].nunique().to_frame()
    )
    dt_summary.rename(columns={0:'n_unique'}, inplace=True)
    
    # Missingness
    dt_summary = dt_summary.join(
        df.shape[0] - df[dt_cols].count().to_frame()
    )
    dt_summary.rename(columns={0:'count null'}, inplace=True)

    dt_summary = dt_summary.join(
        1- df[dt_cols].count().to_frame()/df.shape[0]
    )
    dt_summary.rename(columns={0:'fraction null'}, inplace=True)

    return dt_summary

# Clean raw transaction data
df = clean_transation_data(df_raw.copy())

# Assess field data types and missingness (null values)
# Note: initial inspection of the data showed no null values. Manually inspection of records suggested the empty strings were used to denote missing data
display(df.info())

# Drop columns with all null data
# Note: the following columns are all null: 'echoBuffer', 'merchantZip', 'merchantCity', 'merchantState', 'merchantZip', 'recurringAuthInd', 'posOnPremises' 
empty_cols = ['echoBuffer', 'merchantZip', 'merchantCity', 'merchantState', 'merchantZip', 'recurringAuthInd', 'posOnPremises']
_ = df.drop(empty_cols, axis=1, inplace=True)

#customized summary statistics for each field based on data type
num_summary = summarize_numeric_columns(df)
display(num_summary)

text_summary = summarize_text_columns(df)
display(text_summary)

dt_summary = summarize_datetime_columns(df)
display(dt_summary)

#Descriptive statistics for each field using built in pandas function, provides an alternative view of the summary statistics 
with pd.option_context('display.max_columns', 29):
    display(df.describe(include='all', datetime_is_numeric=True))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 786363 entries, 0 to 786362
Data columns (total 29 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   accountNumber             786363 non-null  object
 1   customerId                786363 non-null  object
 2   creditLimit               786363 non-null  int64
 3   availableMoney            786363 non-null  float64
 4   transactionDateTime       786363 non-null  datetime64[ns]
 5   transactionAmount         786363 non-null  float64
 6   merchantName              786363 non-null  object
 7   acqCountry                781801 non-null  object
 8   merchantCountryCode       785639 non-null  object
 9   posEntryMode              782309 non-null  object
 10  posConditionCode          785954 non-null  object
 11  merchantCategoryCode      786363 non-null  object
 12  currentExpDate            786363 non-null  datetime64[ns]
 13  accountOpenDate           786363 non-null  datetime64[ns]
 14  dateOfLastAddressChange   786363 non-null  datetime64[ns]
 15  cardCVV                   786363 non-null  object
 16  enteredCVV                786363 non-null  object
 17  cardLast4Digits           786363 non-null  object
 18  transactionType           785665 non-null  object
 19  echoBuffer                0 non-null       float64
 20  currentBalance            786363 non-null  float64
 21  merchantCity              0 non-null       float64
 22  merchantState             0 non-null       float64
 23  merchantZip               0 non-null       float64
 24  cardPresent               786363 non-null  bool
 25  posOnPremises             0 non-null       float64
 26  recurringAuthInd          0 non-null       float64
 27  expirationDateKeyInMatch  786363 non-null  bool
 28  isFraud                   786363 non-null  bool
dtypes: bool(3), datetime64[ns](4), float64(9), int64(1), object(12)
memory usage: 158.2+ MB

None

,min,max,median,mean,std,n_unique,unique values,count null,fraction null
creditLimit,250,50000,7500.00,10759.464459,11636.174890,10,"[5000, 2500, 50000, 15000, 10000, 250, 500, 10...",0,0.0
availableMoney,-1005.63,50000.0,3184.86,6250.725369,8880.783989,521915,many,0,0.0
transactionAmount,0.0,2011.54,87.90,136.985791,147.725569,66038,many,0,0.0
currentBalance,0.0,47498.81,2451.76,4508.739089,6457.442068,487318,many,0,0.0
cardPresent,False,True,0.00,0.448734,0.497365,2,"[False, True]",0,0.0
expirationDateKeyInMatch,False,True,0.00,0.001326,0.036395,2,"[False, True]",0,0.0
isFraud,False,True,0.00,0.015790,0.124664,2,"[False, True]",0,0.0

,n_unique,count null,fraction null,unique values
accountNumber,5000,0,0.000000,many
customerId,5000,0,0.000000,many
merchantName,2490,0,0.000000,many
acqCountry,4,4562,0.005801,"[US, CAN, MEX, PR]"
merchantCountryCode,4,724,0.000921,"[US, CAN, PR, MEX]"
posEntryMode,5,4054,0.005155,"[02, 09, 05, 80, 90]"
posConditionCode,3,409,0.000520,"[01, 08, 99]"
merchantCategoryCode,19,0,0.000000,"[rideshare, entertainment, mobileapps, fastfoo..."
cardCVV,899,0,0.000000,many
enteredCVV,976,0,0.000000,many
cardLast4Digits,5245,0,0.000000,many
transactionType,3,698,0.000888,"[PURCHASE, ADDRESS_VERIFICATION, REVERSAL]"

,min,max,n_unique,count null,fraction null
transactionDateTime,2016-01-01 00:01:02,2016-12-30 23:59:45,776637,0,0.0
currentExpDate,2019-12-01 00:00:00,2033-08-01 00:00:00,165,0,0.0
accountOpenDate,1989-08-22 00:00:00,2015-12-31 00:00:00,1820,0,0.0
dateOfLastAddressChange,1989-08-22 00:00:00,2016-12-30 00:00:00,2184,0,0.0

,accountNumber,customerId,creditLimit,availableMoney,transactionDateTime,transactionAmount,merchantName,acqCountry,merchantCountryCode,posEntryMode,posConditionCode,merchantCategoryCode,currentExpDate,accountOpenDate,dateOfLastAddressChange,cardCVV,enteredCVV,cardLast4Digits,transactionType,currentBalance,cardPresent,expirationDateKeyInMatch,isFraud
count,786363,786363,786363.000000,786363.000000,786363,786363.000000,786363,781801,785639,782309,785954,786363,786363,786363,786363,786363,786363,786363,785665,786363.000000,786363,786363,786363
unique,5000,5000,NaN,NaN,NaN,NaN,2490,4,4,5,3,19,NaN,NaN,NaN,899,976,5245,3,NaN,2,2,2
top,380680241,380680241,NaN,NaN,NaN,NaN,Uber,US,US,05,01,online_retail,NaN,NaN,NaN,869,869,593,PURCHASE,NaN,False,False,False
freq,32850,32850,NaN,NaN,NaN,NaN,25613,774709,778511,315035,628787,202156,NaN,NaN,NaN,33749,33424,32946,745193,NaN,433495,785320,773946
mean,NaN,NaN,10759.464459,6250.725369,2016-07-06 01:58:58.395681536,136.985791,NaN,NaN,NaN,NaN,NaN,NaN,2026-09-25 23:50:42.724542720,2014-02-03 01:11:17.352825856,2015-04-14 06:46:41.127723520,NaN,NaN,NaN,NaN,4508.739089,NaN,NaN,NaN
min,NaN,NaN,250.000000,-1005.630000,2016-01-01 00:01:02,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,2019-12-01 00:00:00,1989-08-22 00:00:00,1989-08-22 00:00:00,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN
25%,NaN,NaN,5000.000000,1077.420000,2016-04-06 19:35:07,33.650000,NaN,NaN,NaN,NaN,NaN,NaN,2023-05-01 00:00:00,2013-06-29 00:00:00,2014-10-08 00:00:00,NaN,NaN,NaN,NaN,689.910000,NaN,NaN,NaN
50%,NaN,NaN,7500.000000,3184.860000,2016-07-08 05:03:57,87.900000,NaN,NaN,NaN,NaN,NaN,NaN,2026-10-01 00:00:00,2014-09-05 00:00:00,2016-01-13 00:00:00,NaN,NaN,NaN,NaN,2451.760000,NaN,NaN,NaN
75%,NaN,NaN,15000.000000,7500.000000,2016-10-05 13:52:03.500000,191.480000,NaN,NaN,NaN,NaN,NaN,NaN,2030-03-01 00:00:00,2015-05-04 00:00:00,2016-06-06 00:00:00,NaN,NaN,NaN,NaN,5291.095000,NaN,NaN,NaN
max,NaN,NaN,50000.000000,50000.000000,2016-12-30 23:59:45,2011.540000,NaN,NaN,NaN,NaN,NaN,NaN,2033-08-01 00:00:00,2015-12-31 00:00:00,2016-12-30 00:00:00,NaN,NaN,NaN,NaN,47498.810000,NaN,NaN,NaN
std,NaN,NaN,11636.174890,8880.783989,NaN,147.725569,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6457.442068,NaN,NaN,NaN

Number of unique customerIds: 5000
Number of unique accountNumbers: 5000
Number of unique customerId-accountNumber pairs: 5000

In [14]:
# Check the unique pairs of customerId and accountNumber
# Note: same number of unique customer Ids and accountNumbers, this assesses if there are any customers with multiple accounts or vice versa
print('Number of unique customerIds: {}'.format(df['customerId'].nunique()))
print('Number of unique accountNumbers: {}'.format(df['accountNumber'].nunique()))
print('Number of unique customerId-accountNumber pairs: {}'
      .format(df.groupby(['customerId','accountNumber'])[['transactionDateTime']].count().shape[0]))

Number of unique customerIds: 5000
Number of unique accountNumbers: 5000
Number of unique customerId-accountNumber pairs: 5000